{% extends 'base.html' %}

{% block title %}Статья{{ article.id }}: {{ article.title }}{% endblock %}
{% block page_header %}Статья #{{ article.id }}{% endblock page_header %}

{% block nav %}
    <a class="nav-link" aria-current="page" href="{{ url_for
    ('article_pages.article_list')
            }}">Все
        статьи</a>
    <a class="nav-link" href="{{ url_for
    ('article_pages.article_create')
            }}">Создать статью</a>
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-header bg-secondary">
            <span class="text-dark font-weight-bold">Автор:</span>
            <span class="ml-2 font-italic text-white">{{ article.author }}</span>
        </div>
        <div class="card-body">
            <p class="card-text font-italic">{{article.title}}</p>
            <hr>
            <p class="card-text font-italic">{{ article.content }}</p>
            <hr>
            <h4 class="mt-3">Комментарии:</h4>
            {% for comment in comments %}
            <div class="card border border-warning mt-2 mx-auto px-3" style="width: 80%;">
            <p>Дата и время создания: {{ comment.created_at}}</p>
                <p>Автор: {{ comment.author }}</p>
                <p>Комментарий: {{ comment.comment }}</p>
            </div>
                {% else %}
                <hr>
                <h5 class="text-center">Комментариев нет</h5>
                <hr>
            {% endfor %}
            <h4 class="text-center mt-5 mb-2">Добавить комментарий:</h4>
            <div class="card mx-auto" style="width: 80%;">
                <form class="ml-3 mt-3" action="{{  url_for ('article_pages.add_comment', article_id=article.id) }}" method="post">
                   {% include 'partial/form.html' %}
                </form>
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-secondary btn-sm" href="{{ url_for
    ('article_pages.article_update', article_id=article.id)
            }}">Редактировать</a>
            <button class="btn btn-danger btn-sm ml-2" data-bs-toggle="modal" data-bs-target="#modal">Удалить статью</button>
        </div>
    </div>
    {% include 'delete_article.html' %}
{% endblock content %}
