<div class="{% if form.errors.non_field_errors %} border border-danger {% endif %}">
    {% for error in form.errors.non_field_errors %} <p><small class="my-1">{{ error }}</small></p>{% endfor %}
</div>

{% for field in form %}
    {% if field.id == 'csrf_token' %}
        {{ field }}
    {% else %}
        <div class="form-group row">
            <label for="{{ field.id }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="{% if field.errors %} border border-danger {% endif %}">
                {{ field(class='form-control') }}
                {% for error in field.errors %} <p><small class="my-1">{{ error }}</small></p>{% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
<p><input type="submit" class="btn btn-primary" value="Сохранить"></p>
